body {
    background-color: #a6192e;
}

header {
    background-color: #3d3935;
    padding: 8px;
}

.whitecontainer {
    height: 660px;
    background-color: white;
}

.container {
    width: 1100px;
    margin-left: 17%;
}


/*h2{
  font-family: sans-serif;
  text-align: left;
}*/

footer {
    background-color: #3d3935;
    padding: 8px;
}

table {
    background-color: #E4EAEC;
    border: 1px solid #ccc;
    width: 650px;
}

input {
    width: 80px;
}

thead {
    background-color: #DDDDDD;
}

.button-group {
    float: right;
}

button.btn {
    border-radius: 5px;
    background-color: #B5111A;
    color: white;
}

table.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ccc;
}
